<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    <h1>Books in the Library</h1>
    {% if books %}
      {% for book in books %}
        <div>
          <h3>{{ book.title }} (ISBN: {{ book.isbn }})</h3>
          {% if book.cover_image_url %}
            <img src="{{ book.cover_image_url }}" alt="Cover image for {{ book.title }}" width="100">
          {% else %}
            <p>No cover image available.</p>
          {% endif %}
          <p>Published in {{ book.publication_year }}</p>
          <p>Author: {{ book.author.name }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No books found in the library.</p>
    {% endif %}

  </body>
</html>
